
DATABASE_URL=
HTTP_PORT=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
# ssl = implicit TLS (port 465) | tls = STARTTLS (port 587) | none = plaintext
SMTP_ENCRYPTION=none
MAIL_FROM=
APP_URL=

NODE_ENV=development  | production



AXIOM_DATASET=
AXIOM_TOKEN=